* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: rgb(230, 248, 246);
}


h1 {
  text-align: center;
  margin-top: 10px;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 50px;
}

.rock {
  background-image: url("Images/cave-painting.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  border: 0.5px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.paper {
  background-image: url("Images/news.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  border: 0.5px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.scissors {
  background-image: url("Images/scissor-tool.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  border: 0.5px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}


.game-buttons {
  gap: 50px;
  display: flex;
}

.game-names {
  display: flex;
  margin-bottom: 20px;
  padding-left: 30px;
  gap: 105px;
}

button:hover {
  box-shadow: 1px 2px 22px rgba(100, 100, 100, 0.7);
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
}